.imagen_principal_blog {
	max-width: 100%;
	height: 300px;
	object-fit: cover;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: 45%;
}

.container_imagen_logo {
	max-width: 75%;
	display: grid;
	grid-template-columns: 100px 1fr;
}

.logo_edit {
	margin: 2% 0% 2% 10%;
}

.text_edit {
}
