.home {
  margin-top: 6rem;
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 32px;
    .content {
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: flex-start;
      .sub-title {
        color: var(--pink);
        text-transform: uppercase;
        letter-spacing: 0.1rem;
      }
      .title {
        color: var(--accent-color1);
        padding-right: 160px;
      }
      .description {
        color: var(--accent-color3);
      }
    }
    .image-container {
      text-align: center;
      position: relative;
      z-index: 10;
      .ellipse-container {
        .ellipse {
          z-index: -1;
          position: absolute;
          height: 15rem;
          width: 15rem;
          //filter: blur(100px);
        }
        .pink {
          left: -150%;
          top: -50%;
          height: 300px;
          width: 300px;
          border-radius: 100%;
          background: radial-gradient(50% 50% at 50% 50%, rgba(226, 175, 31, 0.74) 0%, rgba(231, 86, 49, 0.74) 76.56%);
        }
        .orange {
          z-index: -20;
          bottom: 40%;
          left: 90%;          
          height: 220px;
          width: 220px;
          border-radius: 100%;
          background: radial-gradient(50% 50% at 50% 50%, #E75631 0%, rgba(226, 175, 31, 0.94) 100%);          
        }
        .mini {
          z-index: -20;
          top: 99%;
          left: -13%;          
          width: 86.64px;
          height: 86.64px;
          border-radius: 100%;
          background: radial-gradient(50% 50% at 50% 50%, #E2AF1F 36.46%, #E75631 100%);
          filter: blur(40px);
        }
      }
    }
  }
}

  .ellipse {
    position: absolute;
    width: 419px;
    height: 411px;
    left: -235px;
    top: -75px;

    background: radial-gradient(50% 50% at 50% 50%, rgba(226, 175, 31, 0.74) 0%, rgba(231, 86, 49, 0.74) 76.56%);
  }

@media screen and (min-width: 280px) and (max-width: 768px) {
  .home{
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .card-principal{
    display: flex !important;
    flex-direction: column !important;
    padding: 0;
    padding-bottom: 8rem;
  }
  .card-principal img{
    height: 240px;
    width: 100%;
  }
  .home .container .content{
    flex-direction: column;
    align-items: center;
    text-align: center;    
    justify-content: center;
  }
  .home .container .content .title{
    padding-left: 1px;
    padding-right: 1px;
  } 
  .home .container .content a{
    position: absolute;
    bottom: 1rem;
  } 
  .super-rare{
    margin-top: -3rem !important;    
    padding: 0 !important;
  }
  .spanGallery{
    flex-direction: column;    
  }
  .filterCategory{
    display: none;
  }
  .alignGallery{
    margin-top: -10rem;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    width: 100%;
  }
  .title{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .blog .container{
    max-width: 100%;
  }
  .card img{
    width: 19rem !important;
  }

  .release.orange{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
  }
  p{
    font-weight: 900 !important;
    font-size: 16px !important;
    line-height: 20px !important;
  }
  .imageLupin{
    padding-top: 0 !important;
    padding-right: 0 !important;
  }
  .formContent{
    width: 100%;
  }
  .input-group{
    flex-wrap: nowrap;
  }
}
