@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --primary: #E2AF1F;
  --orange: #E75631;
  --pink: #ff3998;
  --green: #39ffa0;
  --red: #ff3939;
  --light-green: #edfff6;
  --light-orange: #fff0e8;
  --accent-color1: #ffffff;
  --accent-color2: #555555;
  --accent-color3: #cccccc;
  --card-color: #000000;
  --background: #1E0E33;
  --font-family: "Inter", sans-serif;
}

[data-theme="light"] {
  --background: #ffffff;
  --accent-color1: #000000;
  --accent-color2: #eeeeee;
  --accent-color3: #777777;
  --card-color: #eeeeee;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.app-container{
  // background-image: url("../../assets/Hero_Section.png");
  background-repeat: no-repeat;
  width: 100%;
  img{
    width: 100%;
  }
}
.card-principal {
  z-index: 20;
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 96px 52px 88px;
  gap: 10px;

  
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 35.4453px 35.4453px 59.0755px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(29.5378px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 10px;
}

.d-block{
  border-radius: 5px;
}

.btn-center{
  display: flex;
  justify-content: center;
}

.btn-vermas {
  color: var(--accent-color1);
  background-color: #7A12EB;
  
  font-weight: bold;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  &:hover, :active {
    box-shadow: none;
    background-color: #39086E;
  }
}

.btn-verNFT {
  color: #6C2817;
  background-color: #E2AF1F;
  
  font-weight: bold;
  padding: 5px 5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: none !important;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  &:hover {
    box-shadow: none;
  }
}

.btn-verNFT:hover{
  background-color: #6A520F !important;
  color: #F6F6F6 !important;
  border-color: #6A520F !important;
}

.btn-verNFT:active{
  background-color: #6A520F !important;
  color: #F6F6F6 !important;
  border-color: #6A520F !important;
}

.filterCategory{
  list-style: none;
  display: flex;
  justify-content: center;
  background: none;
  text-decoration: none;
  color: white;
  border: none;
  gap: 2rem; 

  & li:hover{
    color: var(--primary);
    cursor: pointer;
  }

  & li.active{
    color: var(--primary);
    cursor: pointer;
  }
}

.alignGallery{
  display:grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  width: 90%;
  margin: 0 auto;  
}

.card-image img{
  width: 300px;
  height: 300px;  
  border-radius: 2px;
}

.carousel-indicators{
  bottom: -60px;
}
.carousel-control-next{
  display: none;
}
.carousel-control-prev{
  display: none;
}

.carousel-indicators button{
  background-color: var(--orange) !important;
  width: 20px !important;
  height: 20px !important;
  border-radius: 50% !important;
  margin-right: 5px !important;
  margin-left: 5px !important;  
  &.active{
    width: 50px !important;
    border-radius: 19px !important;    
  }

}

.navbar{
  background-color: #160A26;
  position: fixed;
  width: 100%;
  z-index: 1;
  .brand{
    padding-left: 10rem;
  }
  .links-container {
    padding-right: 10rem;
  }
}

.formContent{
  width: 40%;
}

.form-label{
  color: #F6F6F6;
  text-align: center;
}

.formContact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.formContact h1,p{
    color: #F6F6F6;
}


.app-container {
  background-color: var(--background);
  font-family: var(--font-family);
  overflow-x: hidden;
  transition: 0.5s ease-in-out;
  padding: 2rem 4rem;
  @media screen and (min-width: 280px) and (max-width: 1080px) {
    padding: 0;
  }
}

@media only screen and (min-device-width: 280px) and (max-device-width: 1080px) {
  .app-container::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  background-color: #111111;
  width: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--orange);
}
